@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    scroll-behavior: smooth;
    background-color:  #ffffff;
    color : black;
    height : 100vh;
    box-sizing: border-box;
      margin: 0;
     padding: 0;
     overflow-x : hidden;
}


h1 , h3 , select , h5 {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
