@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Oswald:wght@200;300;700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400;1,900&family=Raleway:ital,wght@0,200;1,100&family=Shadows+Into+Light&display=swap');
body{
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color:  #333333;
    color : white;
}

h1{
    font-family: 'Playfair Display SC', serif;
}